/* Colors variables */

:root {
    --primary: #FF0101;
    --primary-opac: rgba(255, 1, 1, .7);
    --white: #FFFFFF;
    --black: #000000;
    --gray: #1C1F21;
    --text-muted: #74798C;
    --vermilion-opac: rgba(255, 0, 0, .07);
    --blue: #4AB8FF;
    --blue-opac: rgba(74, 184, 255, .1);
    --yellow: #FDCC0C;
    --yellow-opac: rgba(249, 206, 35, .1);
    --pink: #FD5181;
    --pink-opac: rgba(253, 81, 129, .1);
    --nav-black: #020203;

    /* Lightmode palette */
    --card-light: #FBFBFB;

    /* Dark mode palette */
    --bg-dark: #1E1E1E;
    --card-dark: #333333;
}
